%br
%h2 <strong>Login</strong>

= form_tag sessions_path do

  = label :email_username, 'Email or Username:'
  %br
  = text_field_tag :email_username, params[:email]
  %br

  = label_tag :password
  %br
  = password_field_tag :password
  %br

  %br
  = submit_tag 'Login', :class => 'btn btn-primary', :id => 'log_in_button'

  %br
  %br
  = link_to 'Or Sign Up', new_user_path
  %br
  = link_to 'Back to recipe list', recipes_path