-#  This file is app/views/recipes/index.html.haml
%br
%h3 <strong>All Recipes</strong>

= form_tag recipes_path, :method => :get, :id => 'difficulty_form' do
  = hidden_field_tag "recipe_name_sort", true if @recipe_name_header
  = hidden_field_tag "cook_time_sort", true if @cook_time_header
  %b Include:
  - @all_difficulties.each do |difficulty|
    = difficulty
    = check_box_tag "difficulties[#{difficulty}]", 1, @selected_difficulties.include?(difficulty), :id => "difficulty_#{difficulty}"
  = submit_tag 'Refresh', :id => 'refresh_page', :class => 'btn btn-primary'

= form_tag search_recipes_path, :method => 'get', id: 'search-form' do
  = text_field_tag :search, params[:search], placeholder: 'Search Recipes'
  = submit_tag 'Search', :id => 'search_recipes', :class => 'btn btn-primary'
%br

%table#recipes.table.table-striped.col-md-12
  %thead
    %tr
      %th{:class => @recipe_name_header}= link_to 'Recipe Name', recipes_path(:sort => 'recipe_name', :difficulties => @selected_difficulties), :id => 'recipe_name_header'
      %th Difficulty
      %th Servings
      %th{:class => @cooking_time_header}= link_to 'Cooking Time (Mins)', recipes_path(:sort => 'cook_time', :difficulties => @selected_difficulties), :id => 'cook_time_header'
      %th Author
  %tbody
    - @recipes.each do |recipe|
      %tr
        %td= link_to "#{recipe.recipe_name}", recipe_path(recipe)
        %td= recipe.difficulty
        %td= recipe.servings
        %td= "#{recipe.cook_time} Minutes"
        %td= link_to "#{recipe.author}", show_user_path(recipe.author), :id => 'view_user'

= link_to 'Add New Recipe!', new_recipe_path, :class => 'btn btn-primary'