%h2 Create New Recipe

= form_for @recipe do |f|

  = label :recipe, :recipe_name, 'Recipe Name:' 
  %br
  = text_field :recipe, 'recipe_name'
  %br

  = label :recipe, :description, 'Description:' 
  %br
  = text_area :recipe, 'description'
  %br

  = label :recipe, :difficulty, 'Difficulty:' 
  = select :recipe, :difficulty, ['Easy','Medium','Hard']
  %br

  = label :recipe, :servings, 'Number of Servings:' 
  %br
  = text_field :recipe, 'servings'
  %br

  = label :recipe, :cook_time, 'Cooking Time:' 
  %br
  = text_field :recipe, 'cook_time'
  %br

  %h3 Steps
  #steps
    = f.fields_for :steps do |step|
      = render 'step_fields', f: step
    .links
      = link_to_add_association 'add steps', f, :steps

  = label :recipe, :author, 'Author (Your name)'
  %br
  = text_field :recipe, 'author'
  %br

  = submit_tag 'Save Recipe', :class => 'btn btn-primary'