%h2 Create New Recipe

= form_tag recipes_path do

  = label :recipe, :recipe_name, 'Recipe Name'
  = text_field :recipe, 'recipe_name'
  <br>

  = label :recipe, :description, 'Description'
  = text_area :recipe, 'description'
  <br>

  = label :recipe, :difficulty, 'Difficulty'
  = select :recipe, :difficulty, ['Easy','Medium','Hard']
  <br>

  = label :recipe, :servings, 'Number of Servings'
  = text_field :recipe, 'servings'
  <br>

  = label :recipe, :cook_time, 'Cooking Time'
  = text_field :recipe, 'cook_time'
  <br>

  = label :recipe, :steps, 'Steps'
  = text_field :steps, multiple: true
  <br>

  = label :recipe, :ingredients, 'Ingredients'
  = text_field :ingredients, multiple: true
  <br>

  = label :recipe, :author, 'Author (Your name)'
  = text_field :recipe, 'author'
  <br>

  = submit_tag 'Save Recipe', :class => 'btn btn-primary'