-# in app/views/recipes/show.html.haml

%h3 #{@recipe.recipe_name}

%h5 Description:
%p#description= @recipe.description

%h5 Details:
%ul#details
  %li
    Difficulty
    = @recipe.difficulty
  %li
    Servings:
    = @recipe.servings
  %li
    Cooking Time:
    = @recipe.cook_time
  %li
    Author:
    = @recipe.author

/ Display associated steps if they are available. If not display message.
- unless @recipe.steps.empty?
  %h5 Steps:
  %ul
    - @recipe.steps.each do |step|
      %li= step.description
- else 
  %h5 No steps added..

- unless @recipe.ingredients.empty?
  %h5 Ingredients:
  %ul
    - @recipe.ingredients.each do |ingredient|
      %li= ingredient.description
- else 
  %h5 No ingredients added..

<br>

%div.some{ :style => "display: inline-block; float:left; position: relative;" }
  = link_to 'Edit Recipe', edit_recipe_path(@recipe), :class => 'btn btn-primary'
  %br
  %br
  = button_to 'Delete Recipe', recipe_path(@recipe), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-danger'
  %br
  = link_to 'Back to recipe list', recipes_path
<br>