-# in app/views/recipes/show.html.haml

%h3 #{@recipe.recipe_name}

%h5 Description:
%p#description= @recipe.description

%h5 Details:
%ul#details
  %li
    Difficulty
    = @recipe.difficulty
  %li
    Servings:
    = @recipe.servings
  %li
    Cooking Time:
    = @recipe.cook_time
  %li
    Author:
    = @recipe.author

- unless @recipe.steps.empty?
  %h5 Steps:
  %ul
    - @recipe.steps.each do |step|
      %li= step.description

<br>
-# %h5 Ingredients:
-# %ul#ingredients
-# - @recipe.ingredients.each do |ingredient|
-#   %li
-#     = ingredient

%div.some{ :style => "display: inline-block; float:left;" }
  = link_to 'Edit Recipe', edit_recipe_path(@recipe)
  = button_to 'Delete Recipe', recipe_path(@recipe), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-primary'
  = link_to 'Back to recipe list', recipes_path
<br>