!!! 5
%html
  %head
    %link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous")
    %title Recipe Finder
    = stylesheet_link_tag 'application', 'media' => 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

    %body
      %div.container
        %div.navbar.navbar-expand-lg.bg-primary.text-white
          %h1.title <strong>Recipe Finder</strong>

          %div
            - if get_logged_in_user
              &nbsp;&nbsp;&nbsp; Logged in as:
              = get_logged_in_user
              &nbsp;&nbsp;&nbsp;
              = link_to "Log out", log_out_path, class: "navbar_colour"
            - else 
              &nbsp;&nbsp;&nbsp;
              = link_to "Sign up", sign_up_path, class: "navbar_colour"
              &nbsp;&nbsp;&nbsp;
              = link_to "Log in", log_in_path, class: "navbar_colour", id: "log_in_link"
        #main
          - if flash[:notice]
            %div.alert.alert-danger
              #notice.message= flash[:notice]
          - elsif flash[:warning]
            %div.alert.alert-warning
              #warning.message= flash[:warning]
          - elsif flash[:success]
            %div.alert.alert-success
              #warning.message= flash[:success]

          = yield
